$colors: (
  primary: (
    light: #203957,
    main: #0b2b53,
    dark: #001836,
  ),
  accent: (),
  gray: (
    100: #f6f6f6,
    300: #aaaaaa,
    400: #828282,
    500: #666666,
    600: #434343,
  ),
  blue: (
    50: #f5faff,
    100: #e0eeff,
    200: #d3e7ff,
    300: #c2deff,
    400: #b0d3fc,
    500: #89b8ee,
    600: #5c99dd,
    700: #5591d6,
    800: #4184d1,
    900: #387ccd,
  ),
  pink: (
    100: #faedff,
    300: #f6dcff,
    500: #e6b6f8,
  ),
);
